# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = JohnWick92
email = grumec92@gmail.com
signingKey = C9528EF88EF239E5

[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[commit]
	gpgSign = true
[init]
	defaultBranch = main
